
<div> 
  <form>  
    <div>  
      <h1>TK's Todo App</h1>   
      <div>       
        <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
        <!--<button (click)="addTodo(todo.value)">add</button> this might reload page-->
        <span style="color: green" (click)="addTodo(todo.value)">add</span>
      </div>  
    </div> 
  </form>

    <div>  
      <ul>   
       <!-- <li *ngFor="let todo of todoArray">{{todoArray}}</li> -->
        <li *ngFor="let todo of todoArray">{{todo}} <button (click)="deleteItem(todo)"> delete</button></li> 
      
      </ul>  
    </div>  
</div>